@{ 
    Layout = "_Layout";
}

<div class="text-center col-4 m-auto" style="background-color:white;">
    <br />
    <label class="text-info"> Votre paiement a été traité. </label>
    <br />
    <br />
    <p class="blockquote text-center">
        Détails de transaction: <br />
        Numéro de commande: @ViewBag.NoCommande <br />
        Client: @ViewBag.Client <br />
        Montant: @ViewBag.MontantPaye $ <br />
        Merci d'avoir magasiné chez la Greatest Of All Sports Shop!
    </p>
    <br />
    <a class="myButtonCenter" asp-area="" asp-controller="Home" asp-action="Index"> Page Principale </a>
    <br />
    <br />
</div>
<br />